* {
    box-sizing: border-box;
  }

  .section-search input { 
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: lightgray 3px solid !important;
  }

   
    
  

  p {
font-family: 'Hind', sans-serif;
}

h1 {

}

h2 {
 

}

.bannedCountry{
  font-size: 32px;
  font-weight: 900;
  color: red;

}

.restaurantMsg{
  font-style: italic;
  font-weight: 900;
}

.travelBan{
  background-color: paleturquoise;
  border-top: teal;
  border-bottom: teal;
  border-left: teal;
  border-right: teal;
  border-width: 2px;
  border-style:solid;
  display: block;
  height: 600px;
  margin: auto;
  text-align: center;
}




