* {
    box-sizing: border-box;
  }


  p {
font-family: 'Hind', sans-serif;
}

h1 {

}

h2 {
  font-size: 32px;
  font-weight: 900;
  color: red;


}

p{
  font-style: italic;
  font-weight: 900;
}

.travelBan{
  background-color: paleturquoise;
  border-top: teal;
  border-bottom: teal;
  border-left: teal;
  border-right: teal;
  border-width: 2px;
  border-style:solid;
  display: block;
  height: 600px;
  margin: auto;
  text-align: center;
}




