* {
    box-sizing: border-box;
  }

  .section-search input { 
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: lightgray 3px solid !important;
  }

   
    
  

  p {
font-family: 'Hind', sans-serif;
}

h1 {

}

h2 {


}